body {
    margin: 0  ;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/*----------トップセクション----------*/
.top-wrapper {
    background-image: url(images/golfu-top.jpg);
    height: auto;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;     
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
.top-title h1 {
    padding-top: 7%;
    font-size: 80px;
    color: #fffff9;
    font-family: serif;
    font-weight: bold;
    line-height:1.6;
}
.top-message {
    margin-top: -1%;
    text-align: center;
}
.top-message p {
    color: #fffff9;
    font-size: 25px;
    font-family: serif;
    margin-bottom: 7px;
    margin-right: 250px;
}
.top-button {
    margin-right: 230px;
    display: inline-block;
    padding: 20px  0;
    border: none;
    cursor: pointer;
    width: 500px;
    height: 50px;
    font-size: 30px;
    color: #fffff9;
    font-family: serif;
    font-weight: bold;
    background-color: #8c7d5b;
    box-shadow: 0 2px 6px rgba(51,51,51,1);
}
.top-button:active {
    top: 5px;
    position: relative;
    box-shadow: none;
}
.top-button:hover {
    background-color: #a99d84;
}
/*----------説明----------*/
.section-1-wrapper {
    margin-top: 105px;
    background-image: url(images/haikei-2.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 700px;
    width: 100%;
}
.mein-wrapper {
    color: #fffff9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}
.main-title h1{
    text-align: center;
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 0px;
    text-shadow: 1px 1px  2px rgba(26,21 ,31 , 0.9);
}
.text-1 {
    font-size: 25px;
    line-height: 2.5;
    letter-spacing: 1px;
    text-shadow: 1px 1px  4px rgba(26,21 ,31 , 0.7);
}

/*----------特徴ータイトル---------*/
.section-2-wrapper {
    background-color: #1a151f;
    width: 100%;
    height: auto;
}
.sub-wrapper {
    color: #fffff9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    text-align: center;
}
.sub-title {
    line-height: 1.3;
}
.sub-title-1 {
    font-size: 65px;
    letter-spacing: 8px;

}
.sub-title-1 span {
    color: #daa520;
    font-size: 85px;
}
.sub-title-2 {
    margin-top: -40px;
    font-size: 60px;
    letter-spacing: 3px;
}
.sub-a {
    color: #daa520;
    font-style: italic;
    font-size: 80px;
}
.sub-b {
    font-size: 40px;
    padding-left: 5px;
}
/*----------特徴セクション----------*/
.section-3-wrapper {
    background-color: #1a151f;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 60px;
}
.golf-img {
    width: 450px;
    height: 450px;
    margin-left: 80px;
}
.golf-img-2 {
    width: 450px;
    height: 450px;
    margin-top: 60px;
}
.golf-img-3 {
    width: 450px;
    height: 450px;
    margin-left: 100px;
    margin-top: 20px;
}
.section-box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 80px;
}
.section-box-2 {
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.section-box-3 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 120px;
}
.number-line {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .number {
    font-size: 60px;
    font-weight: bold;
    font-family: serif;
    color: #fffff9;
    margin-top: -20px;
  }
  
  .line {
    flex-grow: 0.7;
    height: 2px;
    background-color: #8c7d5b;
    margin-top: -40px;
  }
  .line-label h2 {
    margin-top: -45px;
    font-size: 35px;
    color: #fffff9;
    font-family: serif;
  }
  .line-label p {
    font-size: 30px;
    color: #fffff9;
    font-family: serif;
    line-height: 2;
  }
  
/*----------帯----------*/
.sub-section {
    background-image: url("images/haikei-black.jpg");
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
}
.obi-text {
    font-size: 80px;
    color: #daa520;
    font-family: serif;
    margin: 0 auto;
    margin-top: 20px;
}
/*----------ジムセクション----------*/
.section-4-wrapper {
    background-image: url("images/gum-haikei.jpg");
    height: 1280px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
}
.gum-box-1   p{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4f4b53;
    letter-spacing: 2px;
    display: block;
    position: absolute;
    background-color: #fffff9;
    height: auto;
    padding: 10px 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.gum-box-2 p {
    font-size: 40px;
    font-family: serif;
    color: #4f4b53;
    display: block;
    position: absolute;
    background-color: #fffff9;
    padding: 10px 20px;
    margin-left: 40px;
    margin-top: 150px;
}
.gum-box-2 p span {
    color: #8c7d5b;
    font-weight: bold;
}

.gum-box-3 {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 250px;
    margin-left: 140px;
}
.gum-box-4 {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: 730px;
    margin-left: 110px;
}
.gum-text h2 {
    background-color: #fffff9;
    color: #8c7d5b;
    font-family: serif;
    font-weight: bold;
    font-size: 45px;
}
.gum-text p {
    color: #4f4b53;
    font-family: serif;
    font-size: 30px;
    line-height: 2.3;
}
.gum-img {
    width: 420px;
    height: 420px;
}
.gum-img-2 {
    width: 440px;
    height: 440px;
    margin-top: 40px;
}
/*----------プランセクション----------*/
.plan-section {
    background-image: url("images/haikei-plan.jpg");
    height: 1800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
}
.plan-title {
    display: flex;
    text-align: center;
    justify-content: center;
}
.plan-title h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #8c7d5b;
    letter-spacing: 3px;
    font-size: 120px;
    margin-bottom: -15px;
    margin-top: 15px;
}
.plan-box {
    width: 660px;
    font-family: serif;
    margin: 0 auto;
    margin-top: 50px;
}
.plan-header {
    background-color: #8c7d5b;
    height: 50px;
}
.plan-header p {
    font-size: 25px;
    padding: 10px;
    color: #fffff9;
}
.plan-row {
    display: flex;
    background-color: #fffff9;
}
.menu-item {
    flex: 1;
    padding-left: 10px;
    font-size: 20px;
    color: #4f4b53;
    text-align: left;
    display: flex;
    align-items: center;
}
.menu-item-2 {
    padding-left: 10px;
    flex: 1;
    font-size: 20px;
    color: #4f4b53;
    text-align: left;
}
.menu-item span {
    font-size: 17px;
}
.menu-item-2 span {
    font-size: 17px;
}
.border {
    margin: 10px 0px 10px 10px;
    width: 2px;
    height: 50px;
    background-color: #8c7d5b;
}
.border-1 {
    margin-top: 15px;
    width: 2px;
    height: 80px;
    background-color: #8c7d5b;
}
.menu-price {
    padding: 15px;
    font-size: 30px;
    color: #8c7d5b;
    display: flex;
    text-align: right;
    align-items: center;
}
.menu-price span {
    font-size: 18px;
}
.plan-box-a {
    width: 800px;
    font-family: serif;
    margin: 0 auto;
    margin-top: 50px;
}
.plan-header-a {
    background-color: #8c7d5b;
    height: 60px;
}
.plan-header-a p {
    font-size: 30px;
    padding: 10px;
    color: #fffff9;
}
.plan-row-a {
    display: flex;
    padding: 15px;
    background-color: #fffff9;
    height:180px;
}
.menu-item-a {
    margin-right: 30px;
    margin-top: -20px;
    padding-left: 10px;
    font-size: 22px;
    color: #4f4b53;
    text-align: left;
    align-items: center;
}
.menu-item-a span {
    font-size: 16px;
}
.menu-box {
    margin-right: 50px;
}
.border-a {
    margin-top: 15px;
    width: 1px;
    height: 150px;
    background-color: #8c7d5b;
}
.menu-price-a {
    margin: 0 auto;
    margin-top: -65px;
}
.menu-price-a p {
    color: #8c7d5b;
    font-size: 60px;
    margin-bottom: -45px;
}
.text-a {
    margin-right: 10px;
    font-size: 20px;
    color: #4f4b53;
}
.text-b {
    margin-left: 5px;
    font-size: 16px;
    color: #4f4b53;
}
.plan-row-op {
    display: flex;
    padding: 15px;
    background-color: #fffff9;
    height:190px;
}
.menu-item-option {
    flex: 1;
    margin-right: 30px;
    margin-top: -20px;
    padding-left: 10px;
    font-size: 25px;
    color: #4f4b53;
    text-align: left;
    align-items: center;
}
.option-text span {
    font-size: 16px;
}
.option-text {
    margin-top: 30px;
    line-height: 1.2;
}
.menu-price-op {
    margin-top: -30px;
}
.option-price {
    font-size: 30px;
}
.option-price span {
    font-size: 16px;
}
.menu-price-op {
    line-height: 1;
    color: #4f4b53;
}
.op2-1 {
    font-size: 16px;
}
.op2-2 {
    font-size: 16px;
}
.op2-3 {
    font-size: 30px;
}
.plan-button-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.plan-button {
    display: inline-block;
    background-color: #daa520;
    color: #fffff9;
    font-size: 35px;
    padding:  20px 30px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(51,51,51,1);
}
.plan-button-box:active {
    top: 5px;
    position: relative;
    box-shadow: none;
}
.plan-button:hover {
    background-color: #e7c570;
}


/*----------お客様の声---------*/
.testimonials-section {
    background-image: url("images/okyaku-haikei.jpg");
    height: 1800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    margin-top: 100px;
}
.testimonials--title {
    display: flex;
    text-align: center;
    justify-content: center;
}
.testimonials--title h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #8c7d5b;
    letter-spacing: 3px;
    font-size: 100px;
    margin-bottom: -15px;
    margin-top: 20px;
}
.testimonials-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin: 0 auto;
    padding-top: 85px;
}
.testimonials-box-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    flex-direction: row-reverse;
    margin: 0 auto;
    padding-top: 85px;
}
.testimonials-img {
    height: 330px;
    width: 330px;
}
.testimonials-text h1 {
    font-family: serif;
    color: #fffff9;
    font-size: 45px;
}
.testimonials-text span {
    font-size: 23px;
    padding-left: 10px;
}
.testimonials-text p {
    line-height: 2;
    font-family: serif;
    color: #fffff9;
    font-size: 35px;
}
/*----------メッセージセクション---------*/
.message-section {
    background-image: url(images/kotobo-haikei.jpg);
    height: 680px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
}
.message--title {
    display: flex;
    text-align: center;
    justify-content: center;
}
.message--title h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #8c7d5b;
    letter-spacing: 3px;
    font-size: 100px;
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 0;
}
.message-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
    margin: 0 auto;
}
.message-img-1 {
    width: 300px;
    height: auto;
}
.message-img-2 {
    position: absolute;
    width: 200px;
    height: auto;
    left: 25%;
    margin-top: 300px;
}
.message-line{
    flex-grow: 0.7;
    height: 2px;
background-color: #fffff9;
}

.message-text {
    color: #fffff9;
    font-family: serif;
}
.message-text h1 {
    font-size: 50px;
    margin-bottom: 0;
}
.message-text p {
    font-size: 25px;
    line-height: 1.8;
}
/*----------マップ--------*/
.map-section {
    background-image: url(images/map-back.jpg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat; 
}
.map-title {
    display: flex;
    justify-content: center;
    text-align: center;
}
.map-title p {
    color: #fffff9;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
     margin-top: 0;
    padding-top: 30px;
    margin-bottom: 0;
}
.map-img {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-img img {
    width: auto;
    height: 340px;
}
/*----------フッター--------*/
.footer-wrapper {
    background-color: #fffff9;
    height: 300px;
    display: flex;
    gap: 150px;
}
.footer-left {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 240px;
}
.footer-line {
    width: 450px;
    height: 1px;
    background-color: #1a151f;
}
.footer-title {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #1a151f;
}
.footer-sub {
    margin-top: -10px;
}
.footer-sub p {
    font-size: 19px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    color: #1a151f;
}
.footer-sub-a  p {
    font-family: 'Times New Roman', Times, serif;
    color: #1a151f;
    font-size: 19px;
}
.footer-sub-a {
    display: flex;
}
.footer-sub-a span {
    padding-left: 10px;
}
.footer-sub-1 {
    padding-left: 15px;
}
.footer-sub-1 span {
    padding-left: 10px;
}
.footer-button-box {
    background-color: #daa520;
    color: #fffff9;
    font-size: 25px;
    padding: 20px 50px;
    cursor: pointer;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 2px 2px rgba(51,51,51,0.5);
    margin-top: 50px;
}
.footer-button-box:active{
    top: 5px;
    position: relative;
    box-shadow: none;
}
.footer-button-box:hover {
    background-color: #e7c570;
}

/*----------アイコン---------*/
.circle {
    margin-top: 20px;
    margin-bottom: 35px;
    width: 20px;
    height: 20px;
    border: 4px solid #8c7d5b; /* 線 */
    border-radius: 50%;         
    background-color: transparent; /* 中は透明 */
  }

  .cross {
    margin-top: 50px;
    margin-left: 13px;
    width: 15px;
    height: 15px;
  }
  
  .cross::before,
  .cross::after {
    content: '';
    width: 34px;
    height: 4px;
    position: absolute;
    background-color: #8c7d5b;
    transform-origin: center;
  }
  
  .cross::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  



/*----------メディアクリエ----------*/
@media(max-width:767px) {
    .top-title h1 {
        font-size: 31px;
        padding-top: 5%;
        line-height: 1.7;
    }
    .top-message {
        padding-right: 46px;
        margin-top: -5%;
    }
    .top-message p {
        font-size: 14px;
        margin-bottom: 1px;
        margin-right: 0;
    }
    .top-button {
        margin-right: 0;
        width: 250px;
        height: 30px;
        padding: 10px 0;
        font-size: 20px;
    }
    .section-1-wrapper {
        height: 300px;
        margin-top: 22px;
    }
    .main-title h1 {
        font-size: 30px;
        margin-top: 20px;
    }
    .text-1 {
        padding: 0 30px;
        font-size: 16px;
        line-height: 1.9;
    }
    .section-2-wrapper {
        padding-top: 30px;
        margin-bottom: -100px;
    }
    .sub-title-1 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    .sub-title-1 span {
        font-size: 40px;
    }
    .sub-title-2 {
        margin-top: -15px;
        font-size: 35px;
        padding: 0  10px;
    }
    .section-3-wrapper {
        padding-bottom: 20px;
    }
    .golf-img {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }
    .golf-img-2 {
        width: 300px;
        height: 300px;
        padding-top: 0;
    }
    .golf-img-3 {
        width: 300px;
        height: 300px;
        margin-left: 0;
        margin-top: 0;
    }
    .section-box {
        margin-left: 15px;
        gap: 20px;
    }
    .section-box-3 {
        gap: 20px;
    }
    .number {
        font-size: 30px;
    }
    .line {
        margin-top: -20px;
    }
    .line-label h2 {
        font-size: 25px;
        margin-top: 0px;
    }
    .line-label p {
        font-size: 18px;
    }
    .section-box-2 {
        margin-top: 0px;
    }
    .sub-section {
        object-position: center;
        height: 70px;
        object-fit: cover;
    }
    .obi-text {
        font-size: 40px;
        margin-top: 9px;
    }
    .section-4-wrapper {
        height: 490px;
    }
    .gum-box-1 p {
        font-size: 30px;
        padding: 5px 5px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .gum-box-2 p {
        font-size: 18px;
        padding: 3px 5px;
        margin-left: 20px;
        margin-top: 70px;
    }
    .gum-box-3 {
        gap: 0;
        margin-top: 120px;
        margin-left: 50px;
    }
    .gum-box-4 {
        gap: 30px;
        margin-top: 300px;
        margin-left: 40px;
    }
    .gum-text h2 {
        font-size: 18px;
        width: 260px;
        padding: 0 3px;
    }
    .gum-text p {
        font-size: 16px;
        line-height: 1.4;
    }
    .gum-img {
        width: 100px;
        height: 100px;
        margin-top: 30px;
    }
    .gum-img-2 {
        width: 115px;
        height: 115px;
        margin-top: 40px;
    }
    .plan-section {
        width: auto;
    }
    .plan-title h1  {
        font-size: 60px;
    }
    .plan-box {
        width: 450px;
    }
    .plan-header {
        height: 35px;
    }
    .plan-header p {
        font-size: 20px;
        padding: 5px;
    }
    .menu-item {
        font-size: 18px;
    }
    .menu-item-2 {
        font-size: 18px;
    }
    .border {
        margin: 10px;
    }
    .menu-price {
        padding: 10px;
        font-size: 22px;
    }
    .menu-price span {
        font-size: 13px;
    }
    .plan-box-a  {
        width: 490px;
    }
    .plan-header-a  {
        height: 40px;
    }
    .plan-header-a p  {
        font-size: 25px;
        padding: 5px;
    }
.plan-row-a {
    padding: 5px;
    height: 200px;
}
.menu-item-a  {
    font-size: 18px;
}
.menu-item-a span {
    font-size: 16px;
}
.menu-price-a  {
    margin-top: 0;
}
.menu-price-a p {
    font-size: 35px;
}
.text-a {
    font-size: 16px;
}
.plan-row-op {
    height: 230px;
}
.menu-item-option {
    font-size: 18px;
    margin-left: 0px;
}
.option-text span {
    font-size: 14px;
}
.testimonials-section {
    width: auto;
    height: 880px;
}
.testimonials--title h1  {
    font-size: 60px;
}
.testimonials-box {
    gap: 10px;
    padding-top: 40px;
}
.testimonials-box-a {
    gap: 10px;
    padding-top: 40px;
}
.testimonials-img {
    width: 150px;
    height: auto;
}
.testimonials-text h1 {
    font-size: 25px;
}
.testimonials-text span {
    font-size: 16px;
}
.testimonials-text p  {
    font-size: 16px;
}
.message--title h1 {
    padding-top: 10px;
    font-size: 40px;
    margin-bottom: 30px;
}
.message-box  {
    gap: 20px;
}
.message-img-1 {
    width: 180px;
    margin-left: -100px;
}
.message-img-2  {
    width: 100px;
    margin-top: -250px;
    left: 55%;
}
.message-line {
    width: 400px;
}
.message-text h1 {
    font-size: 30px;
}
.message-text p {
    font-size: 18px
}
.map-section {
    height: 360px;
}
.map-title p {
    font-size: 40px;
}
.map-img img {
    height: 200px;
}
.footer-wrapper  {
    gap: 10px;
    display: block;
}
.footer-left {
    margin-bottom: 0;
    margin-left: 20px;
}
.footer-line {
    width: 250px;
}
.footer-title {
    font-size: 20px;
}
.footer-sub p {
    font-size: 18px;
}
.footer-button-box  {
    font-size: 18px;
    width: 200px;
    margin-left: 100px;
}
}

/*

/*